{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Nom - CV</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #666;
        }
        .section {
            margin-bottom: 20px;
        }
        .experience, .education {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Effiri Essame jorane prefida </h1>
        <p>Adresse:32 impasse cuvier <br> Contact: 0758114173 <br> Email: jprefida@gmail.com</p>
    </header>

    <section class="section">
        <h2>Objectif professionnel</h2>
        <p>Enthousiaste à l'idée de contribuer dans un environnement dynamique et d'appliquer mes compétences pour atteindre les objectifs de l'entreprise.</p>
    </section>

    <section class="section experience">
        <h2>Expérience professionnelle</h2>
        <h3>Carrefour,Gabon - Employé de rayon</h3>
        <p>juin 2022 - Aout 2022</p>
        <p> -le balisage et l'étiquetage des produits en rayon <br> -Approvisionnenement des rayons <br> -Gestion de stocks.</p>

        <h3>KFC, Gabon - Equipier polyvalent</h3>  
        <p>Septembre 2022 - oct 2022</p>
        <p> -Acceuil des client <br> -Apporter des réponses adaptées aux attentes des clients et prendre des commandes <br> -participer à l'entretien du restaurant dans le respect des standards d'hygiene et de propeté de la société
    </section>

    <section class="section education">
        <h2>Formation scolaire </h2>
        <h3>IUT Jean Monnet Saint-Etienne, Roanne - BUT en Réseau et Télécommunication </h3>
        <p>septembre 2023 - 2026 </p>
        <p>Il regroupe l'ensemnle des métiers liés à la sécurité des systèmes d'information ,de l'installation <br> d'equipement de sécurité(firewall,sondes),à leur surveillance. Le diplomé sera capable  <br>d'administrer un systeme d'information sécurisé de le superviser,de détecter et de <br> parer les attaques informatiques. </p>
        <h3>Lycée public Ba oumar - Baccalaureat général </h3>
        <p>septembre 2022 - juin 2023 </p>
    </section>

    <section class="section">
        <h2>Compétences</h2>
        <ul>
            <li>Bonne communication </li>
            <li>Esprit d'équipe</li>
            <li>Gestion du stress </li>
            <li>Connecter</li>
            <li>Administrer un Réseau</li>
        </ul>
    </section>

    <section class="section">
        <h2>Langues</h2>
        <ul>
            <li>Anglais- Niveau Moyen </li>
        </ul>
    </section>

    <section class="section">
        <h2>Centres d'intérêt</h2>
        <p>Mon monde s'épanouit à travers la pâtisserie, la lecture et l'univers des réseaux sociaux. La pâtisserie est mon terrain de jeu créatif <br>, transformant des ingrédients simples en délices exquis, chaque recette devenant une œuvre d'art culinaire.<br> Mes moments de détente sont souvent tissés avec les pages d'un bon livre, où les mots forment des images<br> vivantes et les histoires captivent mon imagination. Les réseaux sociaux sont ma fenêtre sur le monde, me connectant avec d'autres passionnés,<br> partageant des idées et découvrant de nouvelles inspirations. Ces trois passions se mêlent pour créer une toile vivante de saveurs, de mots et d'interactions, enrichissant <br>ma vie de manière polyvalente

.</p>
    </section>

</body>
</html>

{% endblock %}
