{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon Formulaire</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      max-width:100%;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 400px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin: 10px 0 5px;
      color: #555;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<h1>Formulaire de Contact</h1>

<form action="/cv.docx" method="post">
  <label for="prenom">Prénom :</label>
  <input type="text" id="prenom" name="prenom" required>

  <label for="nom">Nom :</label>
  <input type="text" id="nom" name="nom" required>

  <label for="email">Email :</label>
  <input type="email" id="email" name="email" required>

  <label for="telephone">Numéro de Téléphone :</label>
  <input type="tel" id="telephone" name="telephone" required>

  <label for="adresse">Adresse de Résidence :</label>
  <textarea id="adresse" name="adresse" rows="4" required></textarea>

  <input type="submit" value="Envoyer">
</form>

<h2>Télécharger le CV</h2>
<p>Vous pouvez télécharger le CV en cliquant sur le lien ci-dessous :</p>
<a href="/cv.docx" >Télécharger le CV</a>

</body>
</html>
{% endblock %}
