{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <p> Curieuse de nature et étudiante passionnée dans le domaine captivant du réseau et de la télécommunication, je suis Effiri jorane! <br> Bienvenue sur mon site, une fenêtre virtuelle où se mêlent mes explorations académiques, mes loisirs inspirants, et les traces <br> digitales de mon parcours professionnel.<br> Étudiante en réseau et télécommunication résidante à Roanne , FRANCE. Vous pouvez me contacter à l'adresse email jpredida@gmail.com <br> et je suis joignable au 07-58-11-41-73.<br> Explorez mon E-portfolio; parcourez mon CV pour comprendre mon cheminement, et plongez dans la section loisirs pour découvrir <br> les facettes  créatives qui nourrissent mon énergie au quotidien. <br> Ensemble, partons à la découverte d'une histoire professionnelle en construction et d'une personnalité en constante évolution. </p>
    <img src="/img/jo.jpg" width="300px" height="300px">
</div>
{% endblock %}
