{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    body {
        font-family: 'Nouvelle Police', sans-serif; /* Changer la police selon vos besoins */
    }

    .image {
        /* Styles pour votre image */
    }

    .content {
        /* Ajoutez un padding pour séparer le contenu du bord de la fenêtre */
        padding: 20px;
    }

    .contact-info {
        margin-top: 20px; /* Ajustez la marge supérieure selon vos besoins */
        text-align: center; /* Centrez le texte dans le bloc */
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center; /* Centrez les icônes horizontalement */
        margin-top: 10px; /* Ajustez la marge supérieure selon vos besoins */
    }

    .social-icon {
        margin-right: 10px;
        width: 30px; /* Ajustez la largeur selon vos besoins */
        height: 30px; /* Ajustez la hauteur selon vos besoins */
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-10">
            <p>As a naturally curious person and an enthusiastic student in the captivating field of networks and telecommunications, I am Jorane Effiri. Welcome to my website, a virtual window where my academic explorations, inspiring hobbies, and personal traces intertwine and the digital footprint of my professional journey converge.</p>
            <h2>Contact Information</h2>
        <p>Email: jprefifa@gmail.com</p>
        <p>Phone: +33 758114173</p>
        <p>Address: 32 impasse cuvier </p>
        <img class="social-icon" src="/img/jo6.jpg" alt="snapchat"> <description> Effiri241
            <img class="social-icon" src="/img/jo7.jpg" alt="snapchat"> <description> Effiri jorane 
        </div>

        <div class="col-2">
            <img class="image" src="/img/jo.jpg" width="300px" height="300px">
        </div>
    </div>

    
            <!-- Ajoutez d'autres balises img pour d'autres réseaux sociaux -->
            <!-- Exemple : -->
            <!-- <img class="social-icon" src="/img/twitter-icon.png" alt="Twitter"> -->
            <!-- <img class="social-icon" src="/img/instagram-icon.png" alt="Instagram"> -->
        </div>
    </div>
</div>

{% endblock %}





    

