{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>

.image {
    
}

</style>
 
</div>
<div class="row">
    <div class="col-10">
    <p> As a naturally curious person and an enthusiastic student in the captivating field of networks and telecommunications, I am Jorane Effiri." <br> Welcome to my website, a virtual window where my academic explorations, inspiring hobbies, and personal traces intertwine <br> and digital footprint of my professional journey converge. </p>
    
    </div>
    
     <div class="col-2">
     
      <img class="image" src="/img/jo.jpg" width="300px" height="300px">
    </div>
    
</div>
{% endblock %}
