{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .image {
        /* Styles pour votre image */
    }

    .contact-info {
        margin-top: 0; /* Ajustez la marge supérieure selon vos besoins */
        position:relative;
        left:5px;
        top:50px;
    }

    .social-icons {
        display: flex;
        align-items: center;
        margin-top: 5px; /* Ajustez la marge supérieure selon vos besoins */
    }

    .social-icon {
        margin-right: 10px;
        width: 30px; /* Ajustez la largeur selon vos besoins */
        height: 30px; /* Ajustez la hauteur selon vos besoins */
    }
    
</style>

<div class="row">
    <div class="col-10">
        <p>As a naturally curious person and an enthusiastic student in the captivating field of networks and telecommunications, I am Jorane Effiri. Welcome to my website, a virtual window where my academic explorations, inspiring hobbies, and personal traces intertwine and the digital footprint of my professional journey converge.</p>
    <h2>Contact Information</h2>
    <p>Email: jprefida@gmail.com</p>
    <p>Phone: +33 758114173</p>
    <p>Address: 32 impasse cuvier </p>
     <img class="social-icon" src="/img/jo6.jpg" alt="snapchat"> <description> Effiri241
        <img class="social-icon" src="/img/jo7.jpg" alt="snapchat"> <description> Effiri jorane 
    
    
    </div>

    <div class="col-2">
        <img class="image" src="/img/jo.jpg" width="300px" height="300px">
    </div>
</div>



{% endblock %}





    

