{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>

.image {
    
}

</style>
 
</div>
<div class="row">
    <div class="col-10">
    <p> As a naturally curious person and an enthusiastic student in the captivating field of networks and telecommunications, I am Jorane Effiri." <br> Welcome to my website, a virtual window where my academic explorations, inspiring hobbies, and personal traces intertwine <br> and digital footprint of my professional journey converge."
.<br> Student in Network and Telecommunication residing in Roanne, FRANCE. You can contact me at the email address jpredida@gmail.com <br> And I can be reached at +33 7 58 11 41 73.<br>Explore my E-portfolio; browse through my resume to understand my journey, and dive into the hobbies section to discover more <br> The creative facets that nourish my energy on a daily basis.
 <br>Together, let's explore a professional story in the making and a personality in constant evolution. </p>
    
    </div>
    
     <div class="col-2">
     
      <img class="image" src="/img/jo.jpg" width="300px" height="300px">
    </div>
    
</div>
{% endblock %}
